<div class="modal">
    <h3 >Edit Task</h3>
    <mat-form-field hintLabel="Max 10 characters" appearance="fill">
        <mat-label>Task name</mat-label>
        <input matInput #inputName maxlength="15" placeholder="Task name">
        <mat-hint align="end">{{inputName.value?.length || 0}}/15</mat-hint>
    </mat-form-field>
    <mat-form-field hintLabel="Max 50 characters" appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput #inputDesc maxlength="50" placeholder="Task description">
        <mat-hint align="end">{{inputDesc.value?.length || 0}}/50</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Task date</mat-label>
        <input matInput [matDatepicker]="picker" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Priority</mat-label>
        <mat-select #priority>
            <mat-option value="Low">Low</mat-option>
            <mat-option value="Medium">Medium</mat-option>
            <mat-option value="option">Hight</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select #status>
            <mat-option value="ToDo">ToDo</mat-option>
            <mat-option value="InProgress">InProgress</mat-option>
            <mat-option value="Resolved">Resolved</mat-option>
        </mat-select>
    </mat-form-field>
    <button class="modal-button" (click)="takeData()">Submit</button>
</div>
